{% extends "ru_index.html" %}


{% block body %}

<!-- Banner -->
<section id="banner">
	<h2>Проекты</h2>
	<p>Перейдите на проект, чтобы посмотреть подробное описание, а также их функционирование.
		<br>При необходимости можно ознакомиться с кодом на GitHub</br>

	<ul class="actions special">
		<li><a href="https://t.me/espinosa_python" target="_blank" class="button primary">Написать в телеграмм</a></li>
		<li><a href="#" class="button">Резюме</a></li>
	</ul>



</section>

<!-- Main -->
<section id="main" class="container">

	<section class="box special">
		<header class="major">
			<h3>Все проекты были загружены как на хостинг различных серверов, так и
				подняты собственные сервера Ubuntu и последующей контейнеризацией</h3>
			<p>Основные используемые технологии: Python, Django, Flask. MySql, PostgreSql, MongoDB, Docker, HTML, CSS.</p>
		</header>
	</section>

	<section class="box special features">
		<div class="features-row">
			<section>
				<span class="icon solid major fa-duotone fa-flask accent2"></span>
				<h3>Flask сайт-визитка</h3>
				<p>Коммерческий проект. Основной стек технологий: <br>Flask, PostgreSql, Docker. <br><br>Выполнен по заказу
					частного преподавателя английского языка в соответствии с
				требованиями заказчика. Все модули на сайте легко изменяются благодаря удобной панели администратора
				для работы с базой данных (защита доступа). Это дает возможность собственнику сайта самому изменять контент не
					обращаясь к разработчику.</p>
				<ul class="actions special">
					<li><a href="https://espinosamaria.ru/" target="_blank"
						   class="button primary">Просмотр рабочей версии сайта</a></li>
				</ul>
				<ul class="actions special">
					<li><a href="https://github.com/ERAalex/PREVIEW_project_site_buisness_card_Maria-" target="_blank"
						   class="button primary_2">Просмотр части проекта на GitHub</a></li>
				</ul>

			</section>

			<section>
				<span class="icon solid major fa-chart-area accent3"></span>
				<h3>Django-проект гимназии 205</h3>
				<p>Коммерческий проект. Основной стек технологий:<br> Django, MySql, API Yandex Maps <br><br>
					Выполнен по заказу кафедры иностранных
					 языков ГБОУ гимназии № 205. Сайт был загружен на хостинг - Hostland с последующей настройкой.
					Одним из требований было продумать стуктуру сайта и модели для возможности удобно менять
					информацию на сайте.
					В дальнейшем управление готовым роектом было передано информатикам
					 гимназии.</p>
				<ul class="actions special">
					<li><a href="http://school.gym205.ru/" target="_blank"
						   class="button primary">Просмотр рабочей версии сайта</a></li>
				</ul>
				<ul class="actions special">
					<li><a href="https://github.com/ERAalex/PREVIEW_project_205_kafedra_website" target="_blank"
						   class="button primary_2">Просмотр части проекта на GitHub</a></li>
				</ul>
			</section>
	</section>


	<section class="box special features">
		<div class="features-row">
			<section>
				<span class="icon solid major fa fa-university accent6"></span>
				<h3>IT Образовательная платформа</h3>
				<p>Коммерческий проект. Основной стек технологий:<br> Django, MySql, Docker, Re-Capcha<br><br>
					Выполнен по заказу гимназии №205 для преподования IT технологий. На сайте представлены разработки
				курсов по Python, Multimedia, HTML & CSS, Databases. Продвинутая система регистрации учеников. Каждый
				получает личный кабинет куда можно загружать задания. Учителя имеют доступ к кабинетам и возможность
				проверять работы.</p><br>
				<ul class="actions special">
					<li><a href="https://edu.gym205.ru" target="_blank"
						   class="button primary">Просмотр рабочей версии сайта</a></li>
				</ul>
				<ul class="actions special">
					<li><a href="https://github.com/ERAalex/PREVIEW_project_Online_it_school" target="_blank"
						   class="button primary_2">Просмотр части проекта на GitHub</a></li>
				</ul>
			</section>

			<section>
				<span class="icon solid major fa-paper-plane accent4"></span>
				<h3>Telegram - изучение испанского</h3>
				<p>Коммерческий проект. Основной стек технологий:<br> Telegram, Aiogram(async), PostgreSql,
					Docker.<br><br> Проект является образовательной платформой
					для изучения испанского языка. В проект интегрированы такие возможности как: посмотреть теорию по
					основным грамматическим темам, спрягать глаголы в нужном времени, пользоваться
					онлайн словарем. Используется большое количество сторонних библиотек (Beautiful Soup,
					Selenium и т.д.).</p> <br>
				<ul class="actions special">
					<li><a href="https://telegram.me/simon_esp_bot" target="_blank"
						   class="button primary">Просмотр рабочей версии проекта</a></li>
				</ul>
				<ul class="actions special">
					<li><a href="https://github.com/ERAalex/PREVIEW_project_Online_it_school" target="_blank"
						   class="button primary_2">Просмотр части проекта на GitHub</a></li>
				</ul>
			</section>
	</section>

	<section class="box special features">
		<div class="features-row">
			<section>
				<span class="icon solid major fa-cloud accent10"></span>
				<h3>API Weather Project</h3>
				<p>Учебный проект. Основной стек технологий:<br> Django, Vue Js, PostgreSql, API Openweather<br><br>
					Подготовлена заготовка для дальнейшей интеграции готового API погоды в будущие проекты.
					Сервер на Django принимает
				запрос на погоду в определенном регионе, городе. Если в базе нет данных проходит внутренний (на стороне
					сервера) запрос к API Openweather
				и данные сохранются в БД, потом отправляются как API ответ (JSON) клиенту. Для тестов развернут VUE JS шаблон
				с интерактивным вводом города пользователем.</p>
				<ul class="actions special">
					<li><a href="https://github.com/ERAalex/ERA_Weather_Api_app" target="_blank"
						   class="button primary_2">Просмотр части проекта на GitHub</a></li>
				</ul>
			</section>

			<section>
				<span class="icon solid major fa-ruble-sign accent5"></span>
				<h3>API Money Project</h3>
				<p>Учебный проект. Основной стек технологий:<br> FAST API, Vue Js, Mongo DB, API CBR<br><br>
				Подготовлена заготовка для дальнейшей интеграции готового API курса валют в будущие проекты.
					Сервер на FAST API принимает
				запрос на курс определенной валют по отношению к рублю. Если в базе нет данных проходит
					внутренний (на стороне cервера) запрос к API CBR
				и данные сохранются в БД, потом отправляются как API ответ (JSON) клиенту. Для тестов развернут VUE JS
					шаблон с интерактивным вводом города пользователем.</p>
				<ul class="actions special">
					<li><a href="https://github.com/ERAalex/ERA_Fast_API_course_money" target="_blank"
						   class="button primary_2">Просмотр части проекта на GitHub</a></li>
				</ul>
			</section>
	</section>


	<section class="box special features">
		<div class="features-row">
			<section>
				<span class="icon solid major fa-user-secret accent6"></span>
				<h3>Пропускной контроль</h3>
				<p>Учебный проект. Основной стек технологий:<br> Flask, PostgreSql, Docker, Telegram<br><br>
					В проекте продумана архитектура
					по взаимодействию как базы данных с Flask, так и оповещение и рассылка qr-code сотрудникам
					предприятия в определенное время через TelegramBot для использования на проходной
					(предоставление сотрудникам охраны). Все qr-code имеют динамическую информацию, что исключает
					повторное использование через определенный промежуток времени.</p>
				<ul class="actions special">
					<li><a href="https://github.com/ERAalex/PREVIEW_QRcode_employee" target="_blank"
						   class="button primary_2">Просмотр части проекта на GitHub</a></li>
				</ul>
			</section>

			<section>
				<span class="icon solid major fa-hand-holding-usd accent11"></span>
				<h3>Django-проект магазин</h3>
				<p>Учебный проект. Основной стек технологий:<br> Django, PostgreSql, Docker.<br><br>
					В проекте развитая система
				просмотра товара (можно сортировать по производителю, цене, т.д.), наличие пагинации. Выполнена
					форма регистрации новых клиентов, а также функционирующая корзина с сохранением сессий.
				Применяются сторонние API (например - API Yandex Map для поиска магазина). В дальнейшем будет
				улучшена визуальная часть проекта - HTML & CSS</p>
				<ul class="actions special">
					<li><a href="https://github.com/ERAalex/project_Web_Site_Mobiles" target="_blank"
						   class="button primary_2">Просмотр части проекта на GitHub</a></li>
				</ul>
			</section>
	</section>


	<section class="box special features">
		<div class="features-row">
			<section>
				<span class="icon solid major fa-project-diagram accent7"></span>
				<h3>Различные небольшие проекты</h3>
				Учебные проекты. Разнообразные программы несущие в себе небольшой функционал:
					<p align="left">- TelegramBot
					<br>- Парсинг сайтов</br>
					- Перенос фотографий из VK на Yandex Disc

					</p>
				<ul class="actions special">
					<li><a href="https://github.com/ERAalex" target="_blank"
						   class="button primary_2">Просмотр всех проектов на GitHub</a></li>
				</ul>
			</section>

			<section>
				<span class="icon solid major fa-handshake accent8"></span>
				<h3>Командный проект.</h3>
				<p> Учебный проект. Основной стек технологий:<br> API VK, PostgreSql.<br><br>
					Создание VK-bot для знакомств.
					В ходе проекта велась работа в Git (решение merge конфликтов и т.д.). Командная работа
					была разделена на 3 задачи: <br> - Работа с БД PostgreSQL <br>- Работа с запросами API VK <br>
					- Работа с ботом и интеграция БД с API VK. <br>В данном проекте я занимался 3 блоком. Мною
					была проведена работа по планированию структуры, выполнялась роль тим-лида, проверка
					кода и последующее осуществление взаимодействия функций блока БД с блоком Vk API в самом боте.</p>
				<ul class="actions special">
					<li><a href="https://github.com/ERAalex/Netology_Collective_work" target="_blank"
						   class="button primary_2">Просмотр проекта на GitHub</a></li>
				</ul>
			</section>
	</section>





</section>


{% endblock %}

